<!doctype html>
<head>
    <style>
    .left {
        float: left; 
        margin: 0 0 5px 5px; 
        padding-left: 20px;
    }
    p {
        font-family: "Courier New", Courier, monospace;
    }
   </style>
    <title>Upload new File</title>
</head>


<div class="left">
    <h1><p>Upload new File</p></h1>

<form method=post action="/upload" enctype=multipart/form-data>
    
    <input type=file name=file>
    <input type=submit value=Upload>

</form>

</div>

{% if filename %}
<div class="left">
    <h1><p>Success! Wanna resize another one?</p></h1>
    <img src="{{ url_for('get_image', image=filename) }}">
</div>
{% endif %}